/* jumplink styles */
#jumplink {
  color: #461220;
  font-weight: bold;
}
#jumplink:hover {
  color: #8c2f39;
}

/* design styles */
details {
  display: flex;
  flex-direction: column;
  background-image: url("./resources/stickynote.png");
  background-size: 40% 40%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10%;
}
summary {
  display: block;
  justify-items: center;
  align-items: center;
  margin: 0 2%;
}
summary h2 {
  font-size: clamp(2.8em, 2.6em + 2vw, 3.2em);
}
.swot {
  justify-self: center;
  align-self: center;
  width: 90%;
}
.swot li {
  font-size: clamp(1.3em, 1.2em + 1.5vw, 1.4em);
}
.blogcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2%;
}
.blogpost {
  font-size: clamp(1.6em, 1.5em + 1.5vw, 1.7em);
  color: #461220;
  padding: 0 3%;
  margin: 0;
  text-decoration: none;
}
.blogcontent {
  font-size: clamp(1.7em, 1.6em + 1.5vw, 1.8em);
  padding: 3%;
  border-bottom: 3px solid #782138;
  border-top: 3px solid #782138;
  border-left: 3px dashed #8c2f39;
  border-right: 3px dashed #8c2f39;
}
.blogpostmain {
  background-color: #8c2f383f;
}
.readmore {
  background-color: #461220;
  height: 7%;
  justify-self: center;
  border-radius: 5px;
  width: fit-content;
  padding: 1.5%;
  margin: 2%;
}
.readmore a {
  font-family: "smartduck";
  color: aliceblue;
  text-decoration: none;
    font-size: clamp(1.3em, 1.2em + 1.5vw, 1.6em);
  font-weight: bold;
}

/* text styles */
h1 {
  background-image: url("./resources/navpaperzealouspink.webp");
  background-size: 80% 100%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
h2 {
  text-align: center;
  margin: 4%;
}
h3 {
  background-image: url("./resources/navpaperzealouspink.webp");
  background-size: 40% 80%;
}

/* media styles */
#memecontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2%;
}
#memecontainer img {
  margin: 2%;
}
.landscapemedia {
  width: 25vw;
  padding-right: 3%;
}
