/* jumplink styles */
#jumplink {
  color: #461220;
  font-weight: bold;
}
#jumplink:hover {
  color: #8c2f39;
}

/* design styles */
details, #blogpostlink {
  display: flex;
  flex-direction: column;
  background-image: url("/resources/stickynote.png");
  background-size: 40% 40%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10%;
}
summary {
  display: block;
  justify-self: center;
  align-self: center;
  font-size: 26px;
}
.blogpost {
  font-size: 24px;
  color: #461220;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  padding-top: 3%;
}
#blogpostlink {
  text-decoration: none;
}
/* text styles */
h2 {
  text-align: center;
}
h3 {
  background-size: 40% 80%;
}
