/* body styles */
main {
  width: fit-content;
}

/* table styles */
table {
  margin: 1%;
  margin-bottom: 5%;
}
table,
th,
td {
  color: #370c17;
  border: 2px solid #782138;
  text-align: center;
  border-collapse: collapse;
  width: fit-content;
}
td {
  color: #370c17;
  font-size: clamp(1.3em, 1.2em + 1.5vw, 1.4em);
  background-color: #fcb9b29d;
}
th {
  font-family: "smartduck";
  font-size: clamp(1.6em, 1.3em + 1.5vw, 1.8em);
  text-decoration: bolder;
  background-color: #b34d59;
}
.examtype {
  text-align: left;
  padding-left: 1vw;
}
.coursestatus {
  background-color: #b34d59c6;
}
.examstatus {
  background-color: #b34d5998;
}
/* progress bar styles */
#progresscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#progressborder {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 50%;
  border-style: solid;
  border-color: #461220;
  border-radius: 5px;
  margin: 2%;
  z-index: 100;
}
.progbarstat {
  font-size: clamp(1.3em, 1.2em + 1.5vw, 1.5em);
  font-weight: bolder;
  padding: 2vh 2vw;
  margin: 0;
}
#nbsa,
#currentprogress,
#potentialprogress {
  border-radius: 2px;
}
label {
  font-family: "smartduck";
  font-size: clamp(1.5em, 1.4em + 1.5vw, 1.7em);
  color: #fcb9b2;
  background-color: #370c17;
  border-radius: 5px;
  padding: 1%;
}
#nbsa {
  background-color: #fcb9b2;
  width: 75%;
}
#currentprogress {
  background-color: #782138;
  width: 40%;
}
#potentialprogress {
  background-color: #b34d59;
  width: 60%;
}

/* progress bar legend styles */
#legend {
  display: flex;
  margin: 2%;
  padding: 0;
}
#legend li {
  margin: 1% 2%;
  width: fit-content;
  list-style-type: none;
}
#nbsalegend,
#potproglegend,
#curproglegend {
  font-size: clamp(1.2em, 1.1em + 1.5vw, 1.4em);
  padding: 1%;
  border-radius: 5px;
  text-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-decoration: none;
}
#nbsalegend {
  color: #461220;
  background-color: #fcb9b2;
}
#potproglegend {
  color: #461220;
  background-color: #b34d59;
}
#curproglegend {
  color: #fcb9b2;
  background-color: #782138;
}
