/* header styles */
header {
  background-color: #461220;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}
.logo{
  width: 15%;
  margin-top: 0.4%;
  mix-blend-mode: multiply;
}

/* nav bar styles */
nav {
  background-color: #8c2f39;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 5%;
}
nav ul {
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
  width: 60%;
  padding: 0;
  overflow: hidden;
}
nav li {
  display: inline;
}
nav li a {
  background-color: #fcb9b2;
  background-image: url("/resources/navpaper.webp");
  font-size: 150%;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 6% 6%;
}
nav li a:hover {
  background-color: aliceblue;
  color: rgb(142, 142, 142);
}
.active {
  background-color: #461220;
  color: #fcb9b2;
}
.barsicon {
  margin-left: auto;
  margin-right: 5%;
  font-size: 1.7rem;
  align-self: center;
}

/* body styles*/
#maincontainer{
  display: flex;
  justify-items: flex-end;
  width: 100%;
  height: auto;
  min-height: 100%;
}
body {
  background-color: #fed0bb;
  /*background-image: url("/resources/paperbackground.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100%;
}
main {
  background-color: #fcb9b2;
  margin: 2% 3% 4% 3%;
  width: 85%;
  height: auto;
  min-height: 63vh;
  padding: 1% 1%;
}
h1 {
  color: rgb(0, 0, 0);
}
h2 {
  color: rgb(0, 0, 0);
}
p {
  font-size: large;
}

/* aside styles*/
aside{
  background-color: #b34d59;
  width: 15%;
  height: auto;
  overflow: hidden;
}
aside ul{
  list-style-type: none;
  padding: 0;
  text-wrap: wrap;
  overflow-wrap: break-word;
  overflow: hidden;
  height: auto;
}
aside ul li a{
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
aside ul li a:hover {
  background-color: #4a4e69;
  color: white;
}

/* footer styles*/
footer {
  background-color: #461220;
  width: 100%;
  height: 10%;
  bottom: 0;
  position: fixed;
}
footer ul{
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
footer ul li{
  display: inline;
}
.socialsicon{
  width: 7hv;
  height: 7vh;
  mix-blend-mode: multiply;
}