/* photo list styles */
#photosection{
    display: flex;
    justify-content: center;
}
#photolist{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#photolist li{
    display: flex;
    background-color: aliceblue;
    width: fit-content;
    margin: 5%;
    padding-bottom: 10%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 4%;
    box-shadow: 1px 3px 5px #461220 ;
}
figure{
    margin: 0;
}
figcaption{
    font-family: "smartduck";
    font-weight: bold;
    font-size: 2em;
    color: #370c17;
    margin-top: 3%;
    justify-self: center;
}