/* photo list styles */
#photosection {
  display: flex;
  justify-content: center;
}
#photolist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#photolist li {
  display: flex;
  background-color: aliceblue;
  width: fit-content;
  margin: 5%;
  padding: 4% 3% 10% 3%;
  box-shadow: 1px 3px 5px #461220;
}
figure {
  margin: 0;
}
figcaption {
  font-family: "smartduck";
  font-weight: bold;
  font-size: clamp(1.7em, 1.6em + 1.5vw, 1.8em);
  color: #370c17;
  margin-top: 3%;
  justify-self: center;
}