@font-face {
  font-family: "blackcraft";
  src: url("blackcraft/Blackcraft.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}

#banner {
  position: sticky;
  top: 0;
  grid-area: header;
}

#img_ban {
  width: 100%;
  height: 13vh;
}

#nav {
  font-family: "blackcraft";
  color: aliceblue;
  margin: auto;
  position: sticky;
  top: 15.2vh;
  font-size: 2.2rem;
  grid-area: header2;
}

#main {
  font-family: "times new roman";
  color: aliceblue;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1.9vh;
  margin-right: 10vw;
  margin-left: 4vw;
  margin-bottom: 2vh;
  grid-area: main;
  padding-left: 7vw;
  padding-right: 7vw;
}

.scroll-container {
  max-height: 52vh;
  max-width: 75vw;
  overflow-y: scroll;
  white-space: 0;
  border: 0.5vh solid #2c2c2c;
  padding: 1.5vh;
}

.text {
  font-size: 1.4rem;
}

.image {
  height: fit-content;
  max-width: 25vw;
  float: right;
  margin-left: 1.5vw;
  margin-bottom: 1.1vh;
}

#skelet {
  height: 27vh;
  width: 14vw;
  margin-top: -2vh;
}

#menu {
  position: fixed;
  margin-top: 37vh;
  margin-left: 3vw;
  margin-right: 1.6vw;
  max-width: 50vw;
  grid-area: menu;
}

.footer {
  grid-area: footer;
}

html,
body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 13.3vw auto;
  grid-template-rows: 13vh 11vh auto 2vh;
  grid-template-areas:
    "header header"
    "header2 header2"
    "menu main"
    "footer footer";
  gap: 2%vh;
  padding: 0;
}

.grid-container > div {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 0, 0;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.8vh 1vw;
  text-decoration: none;
}

li a:hover {
  background: radial-gradient(circle, rgb(255, 60, 0), rgb(255, 145, 0));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

.article {
  scroll-margin-top: 13vh;
}

.button {
  display: block;
  background: radial-gradient(circle, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  text-decoration: none;
  font-size: 2rem;
  background-color: black;
  width: 20vw;
  margin: auto;
  border: hidden;
  font-family: "blackcraft";
}

.button:hover {
  color: white;
  transition: 0.5s;
}

.hidden {
  display: none;
}
